<div class="ui container center aligned mt-2 mb-4 mx-auto">
    <h2>Welcome To MessageMe - a complete Chat App</h2>
</div>


<h4 class="ui center aligned medium icon header mt-2 mb-4 mx-auto">
  <i class="circular orange power off icon"></i>
    Log In to Continue
</h4>

<div class="ui placeholder segment mt-2 mb-4 mx-auto">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with scope: :session, local: true, html: { class: "ui form" }, data: { turbo: false }, url: login_path do |f| %>
        <div class="field">
        <%= f.label :username %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
        <%= f.label :password, class: "field" %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui orange submit button">
          <%= f.submit "Log In", class: "ui orange submit button" %>
        </div>
      <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui orange big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>