<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Message Me" %></title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml"> 
    <link rel="apple-touch-icon" href="/icon.png">

    
       

    <!-- Semantic UI CSS via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">

    <!-- jQuery (must load first) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Semantic UI JS via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>

    <%= javascript_importmap_tags %> 

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

  </head>

  <body>
    <div class="ui large inverted menu">
      <div class="ui container">        
        <%= render "layouts/navigation"%>
      </div>
    </div>
    <div class="ui container">
      <%= render "layouts/messages"%>
      <%= yield %>
    </div>  
  </body>
</html>
